<div id="dashboard" class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-light">
      {{#link-to "index" class="navbar-brand"}}<b>Restle</b>{{/link-to}}
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <img src="{{session.currentUser.profilePic}}" class="profile-pic pull-xs-left">
        </li>
        <li class="nav-item">
          {{#if session.currentUser.apps.length}}
          <div class="btn-group navbar-app">
            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{session.currentUser.currentApp.name}}
            </button>
            <div class="dropdown-menu">
              {{#each session.currentUser.apps as |app|}}
              <a class="dropdown-item" href="#">{{app.name}}</a>
              {{/each}}
            </div>
          </div>
          {{/if}}
        </li>
      </ul>
      <div class="pull-xs-right">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" {{action "logout"}}>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  {{#if session.currentUser.apps.length}}
  <div class="dashboard-outlet row">
    {{outlet}}
  </div>
  {{else}}
  <div class="dashboard-new row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <h1 class="text-xs-center m-y-3">Create an API with the CLI</h1>
      <div class="terminal col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <div class="row terminal-header">
          <div class="circle circle-red"></div>
          <div class="circle circle-yellow"></div>
          <div class="circle circle-green"></div>
        </div>
        <div class="row">
          {{terminal-viewport}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>
